*{
    margin: 0;
    padding: 0;
}

#container{
    background-image: url(./assets/fundo01.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    
}

#formContainer{
    width: 400px;
    margin: auto;
    background-color: #ffffffa4;
    border-radius: 10px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    
}

h1{
    text-align: center;
    margin-bottom: 15px;
}

#adultos{
    width: 400px;    
    margin-bottom: 5px;    
    padding: 5px;
    margin-top: 20px;
    margin-left: -10px;
}

#criancas{
    width: 400px;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: -10px;
}

#duracao{
    width: 400px;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: -10px;
}

#botao{
    padding: 5px;
    width: 95px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: -10px;
    
}

#resultado{
    margin-top: 20px;
    font-weight: bold;

}

@media (max-width:500px){
   #formContainer{
        width: 300px;
    }
    #adultos{
        width: 300px;
    }
    #criancas{
        width: 300px;
    }
    #duracao{
        width: 300px;
    }
}

@media (max-width:400px){
    #formContainer{
        width: 200px;
    }
    #adultos{
        width: 200px;
        margin-bottom: 20px;
        padding: 10px;
        margin-left: -10px;
    }
    #criancas{
        width: 200px;
        margin-bottom: 20px;
        padding: 10px;
        margin-left: -10px;
    }
    #duracao{
        padding: 10px;
        width: 200px;
        margin-bottom: 20px;
        margin-left: -10px;
    }

    h1{
        font-size: 25px;
    }

    #botao{
        margin-left: 27%;
        margin-top: 10px;
    }

}